<!DOCTYPE HTML>
<html class="full-height">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>
    SPOTIPPOS
  </title>

  <link rel="stylesheet" media="all" href="/css/vrf-main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
</head>

<body class="full-height">
  <div id="entry-point" class="full-height"><%= data.entryPoint %></div>
  <script>window.__PRELOADED_STATE__ = <%= data.initialState? JSON.stringify(data.initialState) : 'undefined' %>;</script>
  <script src="/js/vrf.js"></script>
</body>

</html>