@azureColor: #00acff;
@waterBlueColor: #1190cd;
@twilightBlueColor: #094e6e;
@whiteThreeColor: #fafafa;
@whiteFourColor: #ffffff;

@warmGreyColor: #999999;
@greyishBrownColor: #444444;

@bgColor: #f1f1f1;
